nav.navbar.navbar-expand-lg.navbar-light.bg-light 
    a.navbar-brand(href="/") Home
    #navbarSupportedContent 
        ul.navbar-nav.mr-auto 
            li.nav-item 
             a.nav-link(href="/recipes/add") Add Recipe