extends layout
block content 
    if errors   
        each error in errors
            p(style="color:red") #{error.msg}
    
    div(style="margin:1.5rem 3rem 3rem 3rem;")        
        h1 Add Recipe 
        form(method="POST")
            #form-group
                label(for="name") Name: 
                input.form-control(name="name" type="text") 

            #form-group
                label(for="description") Description: 
                input.form-control(name="description" type="text")

            #form-group
                label(for="difficulty") Difficulty: 
                input.form-control(name="difficulty" type="number" min="1" max="10")

            #form-group
                label(for="ingredients") Ingredients: 
                input.form-control(name="ingredients" type="text")

            #form-group
                label(for="steps") Steps: 
                input.form-control(name="steps" type="text")
            br

            input.btn.btn-primary(type="submit", value="Submit")